extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Kyrill

        p Soon-to-be Full Stack JavaScript Developer


        .about-bio

          p I'm really too lazy to write something big here. But all the coding was real fun!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Webstorm & IDEA
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.btn-link(href='https://www.linkedin.com/in/kyrill-gobber-022a71199/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/spl4tt', target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back